
<div class="row headerbackgroud">
  <div class="col-md-3">
    <a class='marginLeft10' *ngIf="!userService.loginStatus" [routerLink]="[ '/login' ]" routerLinkActive="active">Sign In</a>
    <a class='marginLeft10' *ngIf="userService.loginStatus" (click)="signout()" routerLinkActive="active">Sign Out</a>
  </div>
  <div class='col-md-3'></div>
  <div class="col-md-6 alignRight" *ngIf="userService.loginStatus">
    <a class='marginLeft10' *ngIf="userService.module=='admin'" [routerLink]="[ '/uploadFile' ]" routerLinkActive="active">Import Data</a>
    <a class='marginLeft10' *ngIf="userService.module=='admin'" [routerLink]="[ '/company' ]" routerLinkActive="active">Manager Company</a>
    <a class='marginLeft10' *ngIf="userService.module=='user'" [routerLink]="[ '/compare' ]" routerLinkActive="active">Show Stock</a>
    <a class='marginLeft10' *ngIf="userService.module=='user'" [routerLink]="[ '/compare2' ]" routerLinkActive="active">Show Stock 2</a>
  </div>
</div>
<router-outlet></router-outlet>
